body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: black;
    padding: 10px;
}

nav a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-right: 2px solid white;
    padding-right: 5px;
}

div.wrapper {
    width: 960px;
    margin: auto;
}

table {
    width: 49%;
    border: 1px solid black;
    border-collapse: collapse;
    margin-top: 30px;
}

td {
    padding: 15px;
    border: 1px solid black;
}

td.groen {
    background-color: #ccffcc;
}

td.blauw {
    background-color: #ccffff;
}

article {
    float: left;
    width: 49%;
    margin-top: 30px;
    margin-right: 2%;
}